# **kNN ALGORITHM**

In [0]:
#Import the necessary packages. 
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [0]:
#Read the dataset into a DataFrame and remove Label column. 
movies=pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')
movies=movies.iloc[:,:10]
movies

    Movie ID                        Movie Name  ...  Mystery  History
0         58                The Imitation Game  ...        0        0
1          8                        Ex Machina  ...        1        0
2         46                  A Beautiful Mind  ...        0        0
3         62                 Good Will Hunting  ...        0        0
4         97                      Forrest Gump  ...        0        0
5         98                                21  ...        0        1
6         31                            Gifted  ...        0        0
7          3               Travelling Salesman  ...        1        0
8         51                            Avatar  ...        0        0
9         47                    The Karate Kid  ...        0        0
10        50            A Brilliant Young Mind  ...        0        0
11        49                    A Time To Kill  ...        0        0
12        30                      Interstellar  ...        0        0
13        94           The Wolf of Wall Street  ...        0        0
14         6                     Black Panther  ...        0        0
15        73                         Inception  ...        0        0
16        44                    The Wind Rises  ...        0        0
17        65                     Spirited Away  ...        0        0
18        48                 Finding Forrester  ...        0        0
19        27                      The Fountain  ...        0        0
20        57                  The DaVinci Code  ...        1        0
21        57                 Stand and Deliver  ...        0        0
22        14                    The Terminator  ...        0        0
23        69                    21 Jump Street  ...        0        0
24        98                      The Avengers  ...        0        0
25        17                    Thor: Ragnarok  ...        0        0
26        12  Spirit: Stallion of the Cimarron  ...        0        0
27         1                     Hacksaw Ridge  ...        0        1
28        86                  12 Years a Slave  ...        0        1
29        46                    Queen of Katwe  ...        0        0

[30 rows x 10 columns]

In [0]:
#Divide our dataset into X and y. 
X=movies.iloc[:,2:]
y=movies['Movie Name']

In [0]:
#Perform the NearestNeighbors model including 5 number of neighbors and fit to X.
neigh=NearestNeighbors(n_neighbors=5).fit(X)

In [0]:
#For this specific case, make a list with the movie "attributes" of the post.
the_post = [7.2, 1, 1, 0, 0, 0, 0, 1]

In [0]:
#Extract the indices of the movies that are similar to the post.
distance, index = neigh.kneighbors([the_post])

In [0]:
#Print the indices. 
print(index)

[[28 27 29 16  2]]

In [0]:
#Create a function that recommends movies given a set of movie "attributes".
def recommend_movies(movie_features_vector):
  distance, index = neigh.kneighbors([movie_features_vector])
  j=0
  for i in index[0]:
    j=j+1
    print('The recomendation No.',j,': ', movies['Movie Name'].iloc[i])

In [0]:
#Use the function and make the recommendation for the post. 
recommend_movies(the_post)

The recomendation No. 1 :  12 Years a Slave
The recomendation No. 2 :  Hacksaw Ridge
The recomendation No. 3 :  Queen of Katwe
The recomendation No. 4 :  The Wind Rises
The recomendation No. 5 :  A Beautiful Mind